@charset "utf-8";
body{
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    color: #666;
}
#myCarousel{
    margin-top: 50px;
}
.logo
{
    padding: 0;
}
#navbar-collapse{
    margin-top: 0;
}
.slide-img{
    height: 440px;
    width: 100%;
}
.carousel-inner div{
    margin:0 auto;
}
.tab1{
    margin: 30px 0;
    color: #666;
}
.tab-h2{
    font-size:30px;
    color: #0059B2;
    text-align: center;
    letter-spacing: 1px;
}
.tab-p{
    font-size: 18px;
    color: #999;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px 0 40px 0;
}
.tab1 .media-heading{
    margin: 5px 0 20px 0;
}
.col{
    padding: 20px;
}


#footer{
    padding: 20px;
    text-align: center;
    background-color: #666;
    border-top: 1px solid #ccc;
    color: #eeeeee;
}
.tab2{
    background-color: #eee;
    padding: 60px 20px;
    text-align: center;
}
.tab2 img{
    width:40%;
    height:40%;
}
.tab3 img{
    width: 40%;
    height: 40%;
}
.tab3{
    padding: 60px 20px;
    text-align: center;
 }
.text h3{
    font-size: 26px;
}
.text p{
    font-size: 18px;
}
#jumbotron1{
    background-image: url("/assets/img/jumbotron.jpg");
    margin:50px 0 0 0;
    color: #666;
}
.jumbotron h1{
    font-size: 26px;
    padding: 0 0 0 20px;
}
.jumbotron h4{
    font-size: 15px;
    padding: 0 0 0 20px;
}
#information{
    background-color: #eeeeee;
    padding: 40px 0;
}
.info-content
{
    background-color: #fff;
    margin: 0 0 12px 0;
    box-shadow: 2px 2px 3px #ccc;
}
.info-content img
{
    margin: 12px 0;
}
.info-content h4
{
    color: #333;
    padding: 2px 0 0 0;
    font-size: 14px;
}
.info-content p
{
    line-height: 1.6;
}

/*小屏幕*/
@media (min-width: 768px) {
    .tab-h2{
        font-size:24px;
    }
    .tab-p{
        font-size: 16px;
    }
    .text h3{
        font-size: 22px;
    }
    .text p{
        font-size: 15px;
    }
    .tab2-text{
        float:left;
    }
    .tab2-img {
        float: right;
    }
    .jumbotron h1{
        font-size: 30px;
    }
    .jumbotron h4{
        font-size: 16px;
    }
    .info-content h4
    {
        font-size: 16px;
    }
}

/*中等屏幕*/
@media (min-width: 992px) {
    .tab-h2{
        font-size:27px;
    }
    .tab-p{
        font-size: 17px;
    }
    .text h3{
        font-size: 24px;
    }
    .text p{
        font-size: 16px;
    }
    .jumbotron h1{
        font-size: 33px;
    }
    .jumbotron h4{
        font-size: 17px;
    }
    .info-content h4
    {
        font-size: 18px;
    }
}

/*大屏幕*/
@media (min-width: 1200px) {
    .tab-h2{
        font-size:30px;
    }
    .tab-p{
        font-size: 18px;
    }
    .text h3{
        font-size: 26px;
    }
    .text p{
        font-size: 17px;
    }
    .info-content h4
    {
        font-size: 20px;
    }
}

